.gameDetailsContainer{
  color: white;
  position: relative;
  width: 100%;
}

.gameContainer{
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: center;
}

.mainGameContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.gameButton{
  background-color: rgba(0,0,0,0.5);
  line-height: 50px;
  width: 150px;
  border-radius: 25px;
  font-weight: bold;
}

.gameButton:hover{
  background-color: rgba(255,255,255,0.5);
  color: black;
  font-weight: bold;
}

#gameMap{
  position:relative;
  background-color: black;
  min-height: 500px;
  min-width: 500px;
  overflow:hidden;
}

.joinState{

  padding: 10px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(20,20,20,0.5)
}
.spawner{
  border-radius:25px;
  height:20px;
  width:20px;
  margin: 0 auto;
}

.legendContainer{
  width: 100%;
  margin: 0 auto;
}

.legendaryButtonOn{
  background-color: rgba(20, 20, 20, 0.5);
  padding: 10px;
  max-width:350px;
  border-radius: 25px 25px 0px 0px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.legendaryButtonOff{
  padding: 10px;
  max-width:320px;
  border-radius: 25px;
  font-weight: bold;
  background-color: black;
  margin: 0 auto;
  text-align: center;
}

.onLegend{
  -webkit-animation: fadeIn 1s linear;
  animation: fadeIn 1s linear;
  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 25px;
  padding: 50px 0px;
  max-width: 80%;
  margin: 0 auto;
}

@keyframes fadeIn {
    0% {height: 0px; opacity: 0;}
    50% {height: 300px;}
    100% {height: 300px; visibility:visible; opacity: 1;}
}

.offLegend{
  -webkit-animation: fadeOut 1s forwards;
  animation: fadeOut 1s forwards;
  background-color: rgba(20,20,20,0.5);
  border-radius: 25px;
  max-width: 80%;
  margin: 0 auto;
}

@keyframes fadeOut {
  0% {height:300px; opacity: 1;}
  50% {opacity:0;}
  100% {height:0px;visibility:hidden;opacity:0;}
}

.smallOne{
  height:10px;
  width: 10px;
  margin: 0 auto;
}

.movementInstructions{
  padding: 20px 0px;
  text-align: center;
}
