html, body {
  background-color: white;
  min-width: 700px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
  background-image: url('/images/game-background.jpg');
  min-height: 100vh;
  min-width: 100vw;
}
